:root {

  background-color: #242424;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

}

body, html, canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;  /* This prevents scrollbars from appearing */
}